
/*.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/


/*.noto-sans-<uniquifier> {
/  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

$white:#fff;
$black:#000;
$gray:#eaeaea;
$lt-gray:#f0f0f0;
$dk-gray:#f8f8f8;
$red:$red;  